
Flask
Werkzeug

# Database
Flask-SQLAlchemy
sqlalchemy

# Authentication & Security
Flask-Login
Flask-WTF
WTForms
email-validator
PyJWT

# Image & Document Processing
Pillow
PyMuPDF
pytesseract # OCR capabilities
python-docx # For processing .docx files

# Utility
python-dotenv
requests
pandas
numpy

# Testing
pytest
coverage
